html{
    height: 100%;
}

body {
    font-family: "Segoe UI";
    margin: 0;
    background-color: rgb(245, 245, 245);
    height: 100%;
}

header{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

#header_title_group{
    padding-top: 0px;
    padding-left: 30px;
}

#header_icon{
    width: 40px;
    height: auto;
}

#header_title{
    margin: 0;
    padding: 0;
    font-size: 50px;
    display: inline-block;
}

.wrapper{
    width: 100%;
    display: table;
    min-height: 90vh;
}

#navigation{
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
    display:table-cell;
}

#main{
    display:table-cell;
}

.nav_list{
    font-family: "Yu Gothic";
    list-style-type: none;
    font-size: 25px;
    font-weight: bolder;
    margin: 0;
    margin-top: 2px;
    padding:0;
}

.nav_link{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav_link:hover{
    transition: 0.3s;
    color: rgb(60, 95, 211);
}

#footer{
    background-color: rgb(26, 26, 26);
    color: rgb(255, 255, 255);
    margin: 0;
    margin-top: 40px;
}

.footer_text{
    text-align: center;
    font-size: 16px;
}

#mail_text{
    color: rgb(255, 255, 255);
}

#title{
    border-bottom: solid;
    border-color: rgb(168, 97, 170);
    height: 60px;
    margin-bottom: 20px;
}

#page_title{
    font-size: 40px;
}

.section{
    border-bottom: solid;
    border-color: rgb(168, 97, 170);
    height: 50px;
    margin-bottom: 20px;
}

.section_title{
    font-size: 30px;
}

.main_text{
    font-size: 22px;
}